# env
.env
.env.local
.env.*.local

# node
node_modules/
app/node_modules/
app/.next/
app/out/
app/build/
app/dist/

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp
*.swo

# test/coverage
coverage/
